body {
  font-family: "coolvetica-1", "coolvetica-2", Helvetica, Arial, sans-serif;
}

body h1 {
  font-size: 36px;
  margin: 10px 0;
}

body a {
  text-decoration: none;
  color: blue;
}

nav a {
  display: block;
  margin-top: 20px;
}

body ol {
  font-size: 48px;
  margin: 20px auto;
  width: 550px;
}

body li {
  padding: 5px 25px;
  width: 500px;
  list-style-position: inside;
}

body li, body td {
  white-space: nowrap;
  text-overflow: ellipsis;
}

body table {
  table-layout: fixed;
  margin: 10px 0px;
  width: 550px;
}

body tr {
  height: 20px;
}

body th, body td {
  padding: 2px 5px;
  vertical-align: middle;
}

body th {
  background-color: #333;
  color: white;
  overflow: hidden;
}

body td {
  width: 200px;
}

body form {
  margin: 10px 0;
}

body input[type='text'] {
  font-size: 24px;
  display: block;
  width: 100%;
}

td.date, th.date {
  width: 100px;
  text-align: center;
}

td.action, th.action {
  font-size: 12px;
  width: 50px;
  text-align: center;
}

#page {
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  width: 600px;
}

#content {
  padding: 25px;
  background-color: #DEDEDE;
}

.even {
  background-color: #F0F0F0;
}

.odd {
  background-color: #E7E7E7;
}

a.source {
  font-size: 12px;
  float: right;
}

.flash {
  margin-bottom: 10px;
}

.flash .alert {
  color: red;
}

.flash .notice {
  color: green;
}
