body {
  font-family: "coolvetica-1", "coolvetica-2", Helvetica, Arial, sans-serif;
}

body > * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h3 {
  font-size: 36px;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #c50;
}

a.current {
  color: #eee;
  background-color: #c50;
  padding-left: 3px;
  padding-right: 3px;
}

header {
  margin-bottom: 20px;
}

header > * {
  display: inline;
}

header nav {
  margin-left: 10px;
  vertical-align: 4px;
}

header nav a + a {
  margin-left: 10px;
}

footer {
  font-size: 12px;
}

footer a {
  float: right;
}

ol {
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 20px;
}

li {
  padding: 5px 25px;
  width: 500px;
  list-style-position: inside;
}

li, td {
  white-space: nowrap;
  text-overflow: ellipsis;
}

table {
  table-layout: fixed;
  margin: 10px 0px;
  width: 550px;
}

tr {
  height: 20px;
}

th, td {
  padding: 2px 5px;
  vertical-align: middle;
}

th {
  background-color: #333;
  color: white;
  overflow: hidden;
}

td {
  width: 200px;
}

form {
  margin: 10px 0;
}

input[type='text'] {
  font-size: 24px;
  display: block;
  width: 100%;
}

td.date, th.date {
  width: 100px;
  text-align: center;
}

td.action, th.action {
  font-size: 12px;
  width: 50px;
  text-align: center;
}

#page {
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  width: 600px;
  padding: 25px;
  background-color: #dedede;
}

.even {
  background-color: #f0f0f0;
}

.odd {
  background-color: #e7e7e7;
}

.flash {
  margin-bottom: 10px;
}

.flash .alert {
  color: red;
}

.flash .notice {
  color: green;
}

ol.rankings > li > span {
  font-size: 25px;
}
